body{
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#musavisa-header {
    width: 100vw;  
    text-align: center;
}
#musavisa-songs {
    width: 100vw;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.musavisa-buttons-div {
    width: 100%;
    text-align: center;
}
.musavisa-buttons-div button {
    border-radius: 10px;
    margin-inline: 5px;
    height: 50px;

}
.musavisa-buttons-div .musavisa-play {
    background-color: rgb(106, 170, 255);
}
.musavisa-buttons-div .musavisa-show {
    background-color: rgb(58, 241, 83);
}
.musavisa-buttons-div .musavisa-pause {
    background-color: rgb(241, 62, 62);
}

  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }